modules = ["cpp-clang14"]
run = "g++ Grafo/main.cpp -o main -IGrafo -IGrafo/Puntero -IGrafo/STL -I'Grafo/STL - mapa de mapa' && ./main"

[nix]
channel = "stable-25_05"

[deployment]
run = [
  "sh",
  "-c",
  "g++ Grafo/main.cpp -o main -IGrafo -IGrafo/Puntero -IGrafo/STL -I'Grafo/STL - mapa de mapa' && ./main",
]
